<div class="container">
	<h1>Information</h1>
	<h3>Events<h3>
<table class="table">
  <thead class="thead thead-default">
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_events.each do |user_event| %>
      <tr>
        <% @event = Event.find_by_id(user_event.event_id) %>
        <td><%= @event.name %></td>
        <%
          @checked = OptionEvent.find_by(event: @event.id)
        %>
        <% if !@checked %>
        <td><%= link_to "Active", new_option_event_path(event_id: @event.id), class: "nav-link" %></td>
        <% else %>
        <td>Actived</td>
        <% end %>
        <td><%= link_to "Show", event_path(@event.id), class: "nav-link" %></td>
        <td><%= link_to "Edit", edit_event_path(@event.id), class: "nav-link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "New event", new_event_path, class: "nav-link" %>	
<br />
<%= link_to "New venue", venues_new_path, class: "nav-link" %> 

</div>